@import '../../scss/manifest';

.CircleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  max-height: max-content;
  flex-direction: column;
  margin: 12px;

  .formCircle {
    height: 30px;
    width: 30px;
    background-color: $color-blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-textWhite;
    border: 1px solid $color-textWhite;
    box-shadow: 1px 1px 3px $shadow;

    &.completed {
      background-color: $color-green;
    }
  }

  .Title {
    color: $color-grey;
    font-size: 12px;
    margin-top: 5px;
  }
}
